<div class="container">
  <div class="login-container">
            <div class="avatar"></div>
            <div class="form-box">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <form action="" method="">
                    <%= f.email_field :email, autofocus: true %>
                    <%= f.password_field :password, autocomplete: "off" %>
                    <%= f.submit "Log in", :class => 'btn btn-info btn-block login' %>
                </form>
            <% end %>
            </div>
        </div>
        
</div>
